nav {
  position: fixed;
  align-self: center;
  font-size: 40px;
  margin-left: 5rem;
}
nav a {
  text-decoration: none;
  align-items: center;
}
#header-img {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.flexBox {
  display: inline-flex;
  margin: 5px;
}
