@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  font-family: "Muli", sans-serif;
}
nav {
  position: fixed;
  align-self: center;
  font-size: 40px;
  margin-left: 5rem;
}
nav a {
  text-decoration: none;
  margin-right: 20px;
}
#header-img {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.flexBox {
  display: inline-flex;
  margin: 5px;
}
